.titulo-principal{
padding-left: 30px;
}

.principal{
  background-color: #CCCCCC;
}

.titulo-centralizado{
  text-align: center;
  padding: 30px;
}

p {
  text-align: center;
}

#missao{
font-size: 20px;
}

html {
  height: 100%;
  width: 100%;
}